body {
	background: #87CEEB; /* For browsers do not support gradients */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(135,206,235,1)); /*For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(135,206,235,1)); /*For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, rgba(0,0,0,0), rgba(135,206,235,1)); /*For Standard syntax */

}

/* https://www.w3schools.com/css/tryit.app?filename=trycss3_gradient-liner_trans */